# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
venv.bak/
venv311/

# dotenv environment file
.env

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# TTS / OCR debug images
kindle_debug_*.png

# ignore any debug_images directory 
debug_images/

# ignore any .spec files in the src directory
src/**/*.spec